@model Start_Reporting.Models.SmeItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SmeItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HereEmailId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HereEmailId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Work_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Work_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sub_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sub_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalElapsedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalElapsedTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
